*{
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: black;
    color: yellow;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: blue;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/field.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: red;
    margin: 0;
}

header a {
    text-decoration: none;
    color: red;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    background-image: url(../images/field.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
    background-attachment: fixed;
}

.hero-cta {
    line-height: 1.2;
    width: 45%;
    color: yellow;
    margin: 3.5%;
    font-size: 18px;
}

.hero-cta h2 {
    font-size: 30px;
    font-weight: bold;
    align-items: left;
}

.hero-cta h3 {
    font-size: 15px;
    font-style: italic;
    align-items: left;
}

.picture {
    text-align: right;
    width: 25%;
    flex-wrap: wrap;
    display: flex;
    justify-content: right;
}

.title {
    display: flex;
}
.section-title {
    font-size: 36px;
    color: green;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto; 
    width: 250px;
}


#about-me, #work, #contact-me, #resume {
    display: flex;
}

#about-me p,
#contact-me p,
#resume p {
    line-height: 2;
    color: yellow;
    font-size: 18px;
    text-align: left;
    padding: 50px;
    border-left: 3px solid red;
}

.photo-display {
    border-left: 3px solid red;
    padding: 50px;
}
.photo{
    display: inline-block;
}

.photo img{
    padding: 20px;
    width: 300px;
    height: 225px;
  }

  .photo-display h4 {
      text-align: center;
  }

  .flex-row {
    display: flex;
}

.launchApp{
    transform: transform .3s;
}

.launchApp:hover {
    transform: scale(2);
}

footer {
    background: green;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* apply style to the left <h2> of the footer */
footer h4 {
    color: white;
    font-size: 30px;
    margin: 0;
}

/* apply style to the right <div> of the footer */
footer div {
    line-height: 1.5;
    text-align: right;
}




/* Media Query */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }  
    
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h4, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta {
        text-align: center;
        width: 100%;
    }
    
    .section-title {
        width: 80%;
    }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
        text-align: center;
        flex: 1 100%;
    }

    .picture {
        flex: 1;
    }

    .card {
        flex: 0 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    } 

}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .about-me h3,
    .work h3,
    .contact-me h3,
    .resume h3 {
        width: 100%;
        align-items: center;
    }
    .about-me p,
    .work p,
    .contact-me p,
    .resume p {
        width: 100%;
        align-items: center;
    }

}
